
/* This is a pseudoelement class for the background image and is attached to the body at the js code 
    when user enables the location 
    Problem: This load when page loads not after the js*/

body{
    position: relative;
    border: 2px rgb(255, 0, 0) solid;
    /* The background image normally would be added here but it changes according to 
    the weather description so I attach the image to the body element using javascript */
}
/* This pseudo-element is used to create a background black color in order to make the 
    white letters more redeable and distinct. */
body::before{
    content: "";
    opacity: 0.5;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
}
/* This media query is used to add vertical margin to 6 measurements when screen gets small */
@media (max-width: 991px){
    .col-lg-2{
        margin-bottom: 2rem;
    }
}

.row{
    text-align: center;
    /* border:2px black solid; */
    
}

/* ------------------------------------------------------------------------------- */
/* This commented style is for putting "myweather" in text format instead of logo  */
/* #weather{
    font-size: 3.3rem;
    font-family: 'Play';
    color: rgba(255, 255, 255, 0.993);
    border-bottom: 2px solid rgb(255, 164, 104);
    /* text-shadow: 0.1rem 0.1rem 0.1rem rgb(255, 255, 255); 
    
} */
/* -------------------------------------------------------------------------------- */

/* Logo styling */
#weather img{
    width: 20%;
    height: auto;
}


.line{
    border: 1px solid rgb(197, 197, 197);
}
.description{
    color: rgb(255, 255, 255);
    font-family:'Montserrat';
    text-decoration: solid;
    text-shadow: 0.2rem 0.2rem 0.1rem rgb(0, 0, 0);
    font-size: 2.7rem;
    font-weight: 500;
}

/* This class is for the message when user does not allow the location */
.error-msg{
    color: rgb(0, 0, 0);
    font-family:'Montserrat';
    text-decoration: solid;
    font-size: 2.5rem;
    font-weight: 600;
}
#place,.temp{
    color: rgb(255, 255, 255);
    font-family:'Montserrat';
    font-size: 3.2rem;
    font-weight: 500;
    /* border: 2px green solid;  */
}

a:hover{
    color:black;
    text-decoration: none;
}
.max_temp,.min_temp{
    color: white;
    font-family:'Montserrat';
    font-size: 1.3rem;
    font-weight: 500;

}
.title{
    color: rgb(255, 255, 255);
    font-family:'Montserrat';
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    
   

}
.error{
    color: rgb(133, 133, 133);
    font-family:'Montserrat';
    font-size: 1.5rem;
    font-weight: 500;
    

}
.metrisi{
    color: white;
    font-family:'Montserrat';
    font-size: 1.5rem;
    font-weight: 500;
}


.foot{
    background-color: black;
    color: rgb(133, 133, 133);
    font-size: 1.2rem;
}


